#firstfold{
  background-image: url("../images/photo-of-night-sky-1025469\ \(compressed\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  text-align: center;
  color: white;
  padding-top: 90px;
  font-family: 'Philosopher', sans-serif;
}

.column11{
  border-radius:30px ;
  float: left;
  margin: 10px;
  
 
}
#hh{
  /* height:240px; */
  border-radius: 30px;
margin: 10PX;
  width: 280px;
  height: 300px;
}
#hhh{
  margin: 10px;
}
#lastfold{
  background-image: url("../images/photo-of-night-sky-1025469\ \(compressed\).jpg");
  background-size: cover;
  background-position: center;
  

  text-align: center;
  color: white;
  background-color: white;
  padding-top: 50px;
  font-weight: 900px;
  font-size: 20px;
}


body{
 
  font-size: 15px;
  font-family: 'Philosopher', sans-serif;
}




@media screen and (min-width: 480px) {
  
}

