.column{
    width: 1750px;
    float: left;
    margin-left: 40px;
    border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
  padding: 26px;
  
  margin: 10px;
  background-color:white;
}
.column1{
    width: 501px;
    float: left;
  padding: 26px;
  
  margin: 10px;
  background-color:white;
}
.column2{
    width: 501px;
    float: left;
  padding: 26px;
  
  margin: 10px;
  background-color:white;
}
.column3{
    width: 501px;
    float: left;
  padding: 26px;
  
  margin: 10px;
  background-color:white;
}
  .column1 img {
      float: left;
  }

.Nas{
    font-size: 24PX;
}

.port{
    
    padding-left: 38%;
}

.tri{
    font-style: italic;
    font-family: cursive;
}

.tro{
    text-align: center;
}
.important{
    color:Red;
}
.unimportant{
    color:purple;
}
body{
    background-image: url("../images/pexels-photo-531880.jpeg");
}




@media screen and (min-width: 480px) {
    
}
  
